<?php  
/**
 * @descripion  Pixel code template
 */
?>

<!-- Facebook Pixel Code --> 
<script> 
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod? 
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n; 
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0; 
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window, 
	document,'script','//connect.facebook.net/en_US/fbevents.js');

	<?php
		$pixel_id 	 	 = $this->getPixelId();
	?>

	fbq('init',  '<?php echo $pixel_id ?>'); 
	fbq('track', 'PageView');

	<?php
	//Stardand events
	/**
     * 这边引出来一个问题，js 函数的使用一定要在 body 内吗？
     * 想这样在 head 中使用无不妥吧？
	 *
	 * 这边输出的内部的判断有二
	 * 1. 后台是否开启(看 helper )
	 * 2. observer 是否在 session 中记录了事件
     */
	echo $this->getViewContentEvent();
	echo $this->getSearchEvent();
	echo $this->getAddToCartEvent();
	echo $this->getAddToWishlistEvent();
	echo $this->getInitiateCheckoutEvent();
	echo $this->getAddPaymentInfoEvent();
	echo $this->getPurchaseEvent();
	echo $this->getLeadEvent();
	echo $this->getCompleteRegistrationEvent();
	?>

</script> 
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=<?php echo $pixel_id?>&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->